.kt-widget__icon i{
    color: #74788D;
    margin-right: 5px;
}
.kt-widget__item--active span,.kt-widget__item--active i, .kt-widget__item--active .kt-widget__desc,span:hover{
    color: #11b719;
}
.kt-container{
    margin-top: 50px!important;
}